Source: ledger
Section: utils
Priority: optional
Maintainer: Matt Palmer <mpalmer@debian.org>
Build-Depends: debhelper (>= 6), autotools-dev, libgmp3-dev, libpcre3-dev,
	libexpat1-dev, libofx-dev, texinfo, texlive
Standards-Version: 3.8.3
Homepage: http://newartisans.com/software/ledger.html

Package: ledger
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: command-line double-entry accounting program
 Ledger is a powerful and flexible double-entry accounting system run
 entirely from the command line.  Your accounts ledger is stored in one or
 more plain-text files with a very simple and readable format, and ledger
 does the hard work of balancing your books and reporting.
