Source: ledger
Section: utils
Priority: optional
Maintainer: Michael Budde <mbudde@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), quilt,
               autotools-dev,
               libgmp3-dev,
               libmpfr-dev,
               libedit-dev,
               libboost-dev,
               libboost-date-time-dev,
               libboost-regex-dev,
               libboost-iostreams-dev,
               libboost-filesystem-dev,
               libboost-serialization-dev,
               libboost-python-dev,
               python
Standards-Version: 3.9.2
Homepage: http://ledger-cli.org

Package: ledger
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: command-line double-entry accounting program
 Ledger is a powerful and flexible double-entry accounting system run
 entirely from the command line.  Your accounts ledger is stored in one or
 more plain-text files with a very simple and readable format, and ledger
 does the hard work of balancing your books and reporting.

Package: ledger-el
Architecture: all
Depends: emacs | emacs23 | emacsen, ${misc:Depends}
Description: Ledger mode for Emacsen
 This package provides a major mode for editing ledger journal files.
